# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/

# temporary files
.tmp

modules.order
Module.symvers
Mkfile.old
dkms.conf
secret.txt
.pio/build/project.checksum
.pio/build/esp32dev/idedata.json
.pio/libdeps/esp32dev/integrity.dat
.pio/libdeps/esp32dev/ArduinoJson/.clang-format
.pio/libdeps/esp32dev/ArduinoJson/.gitattributes
.pio/libdeps/esp32dev/ArduinoJson/.gitignore
.pio/libdeps/esp32dev/ArduinoJson/.mbedignore
.pio/libdeps/esp32dev/ArduinoJson/.piopm
.pio/libdeps/esp32dev/ArduinoJson/.travis.yml
.pio/libdeps/esp32dev/ArduinoJson/appveyor.yml
.pio/libdeps/esp32dev/ArduinoJson/ArduinoJson.h
.pio/libdeps/esp32dev/ArduinoJson/banner.svg
.pio/libdeps/esp32dev/ArduinoJson/CHANGELOG.md
.pio/libdeps/esp32dev/ArduinoJson/CMakeLists.txt
.pio/libdeps/esp32dev/ArduinoJson/component.mk
.pio/libdeps/esp32dev/ArduinoJson/CONTRIBUTING.md
.pio/libdeps/esp32dev/ArduinoJson/keywords.txt
.pio/libdeps/esp32dev/ArduinoJson/library.json
.pio/libdeps/esp32dev/ArduinoJson/library.properties
.pio/libdeps/esp32dev/ArduinoJson/LICENSE.md
.pio/libdeps/esp32dev/ArduinoJson/README.md
.pio/libdeps/esp32dev/ArduinoJson/SUPPORT.md
.pio/libdeps/esp32dev/ArduinoJson/examples/JsonConfigFile/JsonConfigFile.ino
.pio/libdeps/esp32dev/ArduinoJson/examples/JsonFilterExample/JsonFilterExample.ino
.pio/libdeps/esp32dev/ArduinoJson/examples/JsonGeneratorExample/JsonGeneratorExample.ino
.pio/libdeps/esp32dev/ArduinoJson/examples/JsonHttpClient/JsonHttpClient.ino
.pio/libdeps/esp32dev/ArduinoJson/examples/JsonParserExample/JsonParserExample.ino
.pio/libdeps/esp32dev/ArduinoJson/examples/JsonServer/JsonServer.ino
.pio/libdeps/esp32dev/ArduinoJson/examples/JsonUdpBeacon/JsonUdpBeacon.ino
.pio/libdeps/esp32dev/ArduinoJson/examples/MsgPackParser/MsgPackParser.ino
.pio/libdeps/esp32dev/ArduinoJson/examples/ProgmemExample/ProgmemExample.ino
.pio/libdeps/esp32dev/ArduinoJson/examples/StringExample/StringExample.ino
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson.h
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/CMakeLists.txt
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/compatibility.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Configuration.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Namespace.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/version.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Array/ArrayFunctions.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Array/ArrayImpl.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Array/ArrayIterator.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Array/ArrayRef.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Array/ArrayShortcuts.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Array/ElementProxy.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Array/Utilities.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Collection/CollectionData.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Collection/CollectionImpl.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/DeserializationError.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/deserialize.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/Filter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/NestingLimit.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/Reader.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/Readers/ArduinoStreamReader.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/Readers/ArduinoStringReader.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/Readers/FlashReader.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/Readers/IteratorReader.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/Readers/RamReader.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/Readers/StdStreamReader.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Deserialization/Readers/VariantReader.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Document/BasicJsonDocument.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Document/DynamicJsonDocument.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Document/JsonDocument.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Document/StaticJsonDocument.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Json/EscapeSequence.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Json/JsonDeserializer.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Json/JsonSerializer.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Json/Latch.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Json/PrettyJsonSerializer.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Json/TextFormatter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Json/Utf8.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Json/Utf16.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Memory/Alignment.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Memory/MemoryPool.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Misc/SerializedValue.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Misc/Visitable.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/MsgPack/endianess.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/MsgPack/ieee754.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/MsgPack/MsgPackDeserializer.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/MsgPack/MsgPackSerializer.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Numbers/arithmeticCompare.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Numbers/convertNumber.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Numbers/Float.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Numbers/FloatParts.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Numbers/FloatTraits.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Numbers/Integer.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Numbers/parseNumber.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Object/MemberProxy.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Object/ObjectFunctions.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Object/ObjectImpl.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Object/ObjectIterator.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Object/ObjectRef.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Object/ObjectShortcuts.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Object/Pair.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/alias_cast.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/assert.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/attributes.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/ctype.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/limits.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/math.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/pgmspace_generic.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/pgmspace.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/preprocessor.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/safe_strcmp.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/static_array.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/utility.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/mpl/max.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/conditional.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/declval.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/enable_if.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/integral_constant.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_array.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_base_of.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_class.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_const.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_convertible.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_enum.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_floating_point.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_integral.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_pointer.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_same.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_signed.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/is_unsigned.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/make_unsigned.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/remove_const.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/remove_reference.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Polyfills/type_traits/type_identity.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/CountingDecorator.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/measure.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/serialize.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/Writer.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/Writers/ArduinoStringWriter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/Writers/DummyWriter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/Writers/PrintWriter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/Writers/StaticStringWriter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/Writers/StdStreamWriter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Serialization/Writers/StdStringWriter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/StringStorage/StringCopier.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/StringStorage/StringMover.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/StringStorage/StringStorage.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/ArduinoStringAdapter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/ConstRamStringAdapter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/FlashStringAdapter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/FlashStringIterator.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/IsString.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/IsWriteableString.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/RamStringAdapter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/SizedFlashStringAdapter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/SizedRamStringAdapter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/StdStringAdapter.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/StoragePolicy.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/String.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Strings/StringAdapters.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/SlotFunctions.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantAs.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantAsImpl.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantCompare.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantContent.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantData.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantFunctions.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantImpl.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantOperators.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantRef.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantShortcuts.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantSlot.hpp
.pio/libdeps/esp32dev/ArduinoJson/src/ArduinoJson/Variant/VariantTo.hpp
.pio/libdeps/esp32dev/AsyncTCP/.gitignore
.pio/libdeps/esp32dev/AsyncTCP/.piopm
.pio/libdeps/esp32dev/AsyncTCP/.travis.yml
.pio/libdeps/esp32dev/AsyncTCP/CMakeLists.txt
.pio/libdeps/esp32dev/AsyncTCP/component.mk
.pio/libdeps/esp32dev/AsyncTCP/Kconfig.projbuild
.pio/libdeps/esp32dev/AsyncTCP/library.json
.pio/libdeps/esp32dev/AsyncTCP/library.properties
.pio/libdeps/esp32dev/AsyncTCP/LICENSE
.pio/libdeps/esp32dev/AsyncTCP/README.md
.pio/libdeps/esp32dev/AsyncTCP/.github/stale.yml
.pio/libdeps/esp32dev/AsyncTCP/.github/scripts/install-arduino-core-esp32.sh
.pio/libdeps/esp32dev/AsyncTCP/.github/scripts/install-arduino-ide.sh
.pio/libdeps/esp32dev/AsyncTCP/.github/scripts/install-platformio.sh
.pio/libdeps/esp32dev/AsyncTCP/.github/scripts/on-push.sh
.pio/libdeps/esp32dev/AsyncTCP/.github/workflows/push.yml
.pio/libdeps/esp32dev/AsyncTCP/src/AsyncTCP.cpp
.pio/libdeps/esp32dev/AsyncTCP/src/AsyncTCP.h
.pio/libdeps/esp32dev/ESP Async WebServer/_config.yml
.pio/libdeps/esp32dev/ESP Async WebServer/.gitignore
.pio/libdeps/esp32dev/ESP Async WebServer/.piopm
.pio/libdeps/esp32dev/ESP Async WebServer/.travis.yml
.pio/libdeps/esp32dev/ESP Async WebServer/CMakeLists.txt
.pio/libdeps/esp32dev/ESP Async WebServer/component.mk
.pio/libdeps/esp32dev/ESP Async WebServer/keywords.txt
.pio/libdeps/esp32dev/ESP Async WebServer/library.json
.pio/libdeps/esp32dev/ESP Async WebServer/library.properties
.pio/libdeps/esp32dev/ESP Async WebServer/README.md
.pio/libdeps/esp32dev/ESP Async WebServer/.github/stale.yml
.pio/libdeps/esp32dev/ESP Async WebServer/.github/scripts/install-arduino-core-esp32.sh
.pio/libdeps/esp32dev/ESP Async WebServer/.github/scripts/install-arduino-core-esp8266.sh
.pio/libdeps/esp32dev/ESP Async WebServer/.github/scripts/install-arduino-ide.sh
.pio/libdeps/esp32dev/ESP Async WebServer/.github/scripts/install-platformio.sh
.pio/libdeps/esp32dev/ESP Async WebServer/.github/scripts/on-push.sh
.pio/libdeps/esp32dev/ESP Async WebServer/.github/workflows/push.yml
.pio/libdeps/esp32dev/ESP Async WebServer/examples/CaptivePortal/CaptivePortal.ino
.pio/libdeps/esp32dev/ESP Async WebServer/examples/ESP_AsyncFSBrowser/ESP_AsyncFSBrowser.ino
.pio/libdeps/esp32dev/ESP Async WebServer/examples/ESP_AsyncFSBrowser/data/.exclude.files
.pio/libdeps/esp32dev/ESP Async WebServer/examples/ESP_AsyncFSBrowser/data/favicon.ico
.pio/libdeps/esp32dev/ESP Async WebServer/examples/ESP_AsyncFSBrowser/data/index.htm
.pio/libdeps/esp32dev/ESP Async WebServer/examples/regex_patterns/regex_patterns.ino
.pio/libdeps/esp32dev/ESP Async WebServer/examples/simple_server/simple_server.ino
.pio/libdeps/esp32dev/ESP Async WebServer/src/AsyncEventSource.cpp
.pio/libdeps/esp32dev/ESP Async WebServer/src/AsyncEventSource.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/AsyncJson.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/AsyncWebSocket.cpp
.pio/libdeps/esp32dev/ESP Async WebServer/src/AsyncWebSocket.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/AsyncWebSynchronization.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/edit.htm
.pio/libdeps/esp32dev/ESP Async WebServer/src/ESPAsyncWebServer.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/SPIFFSEditor.cpp
.pio/libdeps/esp32dev/ESP Async WebServer/src/SPIFFSEditor.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/StringArray.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/WebAuthentication.cpp
.pio/libdeps/esp32dev/ESP Async WebServer/src/WebAuthentication.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/WebHandlerImpl.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/WebHandlers.cpp
.pio/libdeps/esp32dev/ESP Async WebServer/src/WebRequest.cpp
.pio/libdeps/esp32dev/ESP Async WebServer/src/WebResponseImpl.h
.pio/libdeps/esp32dev/ESP Async WebServer/src/WebResponses.cpp
.pio/libdeps/esp32dev/ESP Async WebServer/src/WebServer.cpp
.vscode/c_cpp_properties.json
.vscode/extensions.json
.vscode/launch.json
.pio/build/esp32dev/.sconsign39.dblite
.pio/build/esp32dev/bootloader.bin
.pio/build/esp32dev/firmware.bin
.pio/build/esp32dev/partitions.bin
.pio/build/esp32dev/tmp9870rz_g.tmp
lib/secrets.h
.pio/build/esp32dev/tmpxy9nr2xy.tmp
.pio/build/esp32dev/sizedata.json
src/main.cpp
.pio/build/esp32dev/tmpejnlu9n3.tmp
.pio/build/esp32dev/tmpl30j3mcq.tmp
.pio/build/esp32dev/tmpsx61zlsm.tmp
.pio/libdeps/esp32dev/LittleFS_esp32/.piopm
.pio/libdeps/esp32dev/LittleFS_esp32/library.json
.pio/libdeps/esp32dev/LittleFS_esp32/library.properties
.pio/libdeps/esp32dev/LittleFS_esp32/LICENSE
.pio/libdeps/esp32dev/LittleFS_esp32/README.md
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/.gitignore
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/littlefsbuilder.py
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/partitions_custom.csv
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/platformio.ini
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/README.md
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/data/file1.txt
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/data/testfolder/test2.txt
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/include/.placeholder.txt
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/lib/.placeholder.txt
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_PlatformIO/src/main.cpp
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_test/LittleFS_test.ino
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_test/partitions.csv
.pio/libdeps/esp32dev/LittleFS_esp32/examples/LITTLEFS_time/LITTLEFS_time.ino
.pio/libdeps/esp32dev/LittleFS_esp32/src/esp_littlefs.c
.pio/libdeps/esp32dev/LittleFS_esp32/src/esp_littlefs.h
.pio/libdeps/esp32dev/LittleFS_esp32/src/lfs_util.c
.pio/libdeps/esp32dev/LittleFS_esp32/src/lfs_util.h
.pio/libdeps/esp32dev/LittleFS_esp32/src/lfs.c
.pio/libdeps/esp32dev/LittleFS_esp32/src/lfs.h
.pio/libdeps/esp32dev/LittleFS_esp32/src/LICENSE
.pio/libdeps/esp32dev/LittleFS_esp32/src/LICENSE.md
.pio/libdeps/esp32dev/LittleFS_esp32/src/littlefs_api.c
.pio/libdeps/esp32dev/LittleFS_esp32/src/littlefs_api.h
.pio/libdeps/esp32dev/LittleFS_esp32/src/LITTLEFS.cpp
.pio/libdeps/esp32dev/LittleFS_esp32/src/LITTLEFS.h
